@model mvcCremaSistem.Models.Pedidos

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pedidos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioNombre" class="control-label"></label>
                <input asp-for="UsuarioNombre" class="form-control" />
                <span asp-validation-for="UsuarioNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEmail" class="control-label"></label>
                <input asp-for="UsuarioEmail" class="form-control" />
                <span asp-validation-for="UsuarioEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTelefono" class="control-label"></label>
                <input asp-for="UsuarioTelefono" class="form-control" />
                <span asp-validation-for="UsuarioTelefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPedido" class="control-label"></label>
                <input asp-for="FechaPedido" class="form-control" />
                <span asp-validation-for="FechaPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntrega" class="control-label"></label>
                <input asp-for="FechaEntrega" class="form-control" />
                <span asp-validation-for="FechaEntrega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoPago" class="control-label"></label>
                <input asp-for="EstadoPago" class="form-control" />
                <span asp-validation-for="EstadoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstruccionesEspeciales" class="control-label"></label>
                <input asp-for="InstruccionesEspeciales" class="form-control" />
                <span asp-validation-for="InstruccionesEspeciales" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notas" class="control-label"></label>
                <input asp-for="Notas" class="form-control" />
                <span asp-validation-for="Notas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActualizacion" class="control-label"></label>
                <input asp-for="FechaActualizacion" class="form-control" />
                <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
